@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway-Light.ttf);
  font-style: normal;
  font-weight: 200; }
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway-Regular.ttf);
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway-Medium.ttf);
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway-SemiBold.ttf);
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Raleway";
  src: url(../assets/fonts/Raleway-Bold.ttf);
  font-style: normal;
  font-weight: 900; }
::-webkit-scrollbar {
  display: none; }

.btn-login {
  color: white !important;
  background: transparent;
  background: -webkit-linear-gradient(to right, #ffe159e5, #ff5724e5);
  background: -moz-linear-gradient(to right, #ffe159e5, #ff5724e5);
  background: linear-gradient(to right, #ffe159e5, #ff5724e5);
  border-radius: 24px;
  padding: 8px 25px !important;
  text-transform: initial !important;
  font-family: "Raleway" !important;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.5s ease-out;
  cursor: pointer; }
  .btn-login:hover {
    color: #dd4b12 !important;
    background: white; }

.number {
  font-family: Helvetica, sans-serif !important; }

/*--------NAVBAR---------*/
#responsive-navbar {
  display: none; }
  #responsive-navbar #responsiveBar {
    visibility: visible;
    transition: all 0.3s ease-out; }
    #responsive-navbar #responsiveBar .flex-img-burguer {
      width: auto;
      height: 40px; }
  #responsive-navbar #navbarBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.95);
    transition: all 0.3s ease-out; }
    #responsive-navbar #navbarBox #menu-bottom {
      position: fixed;
      top: 1%;
      right: 1%; }
      #responsive-navbar #navbarBox #menu-bottom .flex-img-burguer {
        height: 50px; }
    #responsive-navbar #navbarBox .flex-item {
      height: auto;
      width: 70%;
      padding: 10px 0;
      cursor: pointer;
      color: white;
      text-align: center;
      font-size: 29px;
      font-family: "Raleway";
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.3s ease-out; }
    #responsive-navbar #navbarBox .logo {
      margin-bottom: 10px;
      cursor: pointer; }
      #responsive-navbar #navbarBox .logo .img {
        height: 70px !important; }
    #responsive-navbar #navbarBox .btn-login {
      margin-top: 10px !important;
      font-size: 18px; }

.flex-container-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  position: fixed;
  z-index: 5;
  background: transparent;
  transition: all 1.2s ease-out;
  background: rgba(0, 0, 0, 0.1); }
  .flex-container-nav.black {
    background: rgba(0, 0, 0, 0.85); }
  .flex-container-nav a {
    max-height: 40px; }
    .flex-container-nav a .nav-img {
      height: 40px;
      width: auto; }
  .flex-container-nav .links {
    display: flex; }
    .flex-container-nav .links a {
      overflow: hidden;
      position: relative;
      display: inline-block;
      margin: 0 15px;
      outline: none;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Raleway";
      font-weight: 700;
      text-align: center;
      overflow: hidden;
      height: auto; }
    .flex-container-nav .links a span {
      text-align: center;
      cursor: pointer;
      font-size: 18px;
      position: relative;
      display: inline-block;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: transform 0.3s; }
    .flex-container-nav .links a span::before {
      top: 100%;
      position: absolute;
      content: attr(data-hover);
      font-family: "Raleway";
      font-weight: 900;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .flex-container-nav .links a:hover span,
    .flex-container-nav .links a:focus span {
      -webkit-transform: translateY(-100%);
      -moz-transform: translateY(-100%);
      transform: translateY(-100%); }

/* Mobile and iPad Portrait */
@media only screen and (max-width: 890px) {
  #main-navbar {
    display: none; }

  #responsive-navbar {
    display: flex; } }
/*------------HEADER-------------*/
.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/pencils.jpg"); }
  .header .title {
    width: 90%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Mobile and iPad Portrait */
    /* Mobile Landscape and Portrait */
    /* Mobile Portrait */ }
    .header .title #tituloColegio {
      color: white;
      text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      font-family: "Raleway";
      font-weight: 700;
      font-size: 65.5px;
      text-transform: uppercase; }
      .header .title #tituloColegio::first-letter {
        font-size: 115%; }
    .header .title #textoTitulo {
      color: white;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
      font-family: "Raleway";
      font-weight: 400;
      font-size: 29px;
      margin-top: 10px; }
    @media only screen and (max-width: 950px) {
      .header .title #tituloColegio {
        font-size: 55px; } }
    @media only screen and (max-width: 767px) {
      .header .title #tituloColegio {
        font-size: 45px; }
      .header .title #textoTitulo {
        font-size: 18px; } }
    @media only screen and (max-width: 479px) {
      .header .title #tituloColegio {
        font-size: 35px; } }

/*------------NOSOTROS-------------*/
.flex-container-nosotros {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  height: auto;
  width: 100vw;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/work.jpg"); }
  .flex-container-nosotros .flex-container-nosotros-card {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: initial;
    width: 100%;
    height: 100%;
    cursor: default;
    position: absolute;
    z-index: 1; }
    .flex-container-nosotros .flex-container-nosotros-card .title-nosotros {
      font-size: 46px;
      font-family: "Raleway";
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 11.25px; }
    .flex-container-nosotros .flex-container-nosotros-card .text-nosotros {
      width: 80%;
      display: none;
      text-align: justify;
      font-size: 18px;
      line-height: 135%;
      font-family: "Raleway";
      font-weight: 400; }
    .flex-container-nosotros .flex-container-nosotros-card.left {
      background-color: rgba(0, 0, 0, 0.75);
      clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
      transition: 0.5s ease;
      align-items: flex-start;
      padding-left: 5%; }
      .flex-container-nosotros .flex-container-nosotros-card.left .title-nosotros,
      .flex-container-nosotros .flex-container-nosotros-card.left .text-nosotros {
        color: white; }
      .flex-container-nosotros .flex-container-nosotros-card.left:hover, .flex-container-nosotros .flex-container-nosotros-card.left:active, .flex-container-nosotros .flex-container-nosotros-card.left:focus {
        clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 0% 100%);
        z-index: 2;
        background-color: black; }
        .flex-container-nosotros .flex-container-nosotros-card.left:hover .text-nosotros, .flex-container-nosotros .flex-container-nosotros-card.left:active .text-nosotros, .flex-container-nosotros .flex-container-nosotros-card.left:focus .text-nosotros {
          display: initial; }
    .flex-container-nosotros .flex-container-nosotros-card.right {
      background-color: rgba(255, 255, 255, 0.75);
      clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
      transition: 0.5s ease;
      align-items: flex-end;
      padding-right: 5%; }
      .flex-container-nosotros .flex-container-nosotros-card.right .title-nosotros,
      .flex-container-nosotros .flex-container-nosotros-card.right .text-nosotros {
        color: black; }
      .flex-container-nosotros .flex-container-nosotros-card.right:hover, .flex-container-nosotros .flex-container-nosotros-card.right:active, .flex-container-nosotros .flex-container-nosotros-card.right:focus {
        clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%);
        z-index: 2;
        background-color: white; }
        .flex-container-nosotros .flex-container-nosotros-card.right:hover .text-nosotros, .flex-container-nosotros .flex-container-nosotros-card.right:active .text-nosotros, .flex-container-nosotros .flex-container-nosotros-card.right:focus .text-nosotros {
          display: initial; }
    @media only screen and (max-width: 479px) {
      .flex-container-nosotros .flex-container-nosotros-card .title-nosotros {
        font-size: 35px; }
      .flex-container-nosotros .flex-container-nosotros-card .text-nosotros {
        font-size: 14px; } }

/*------------Oferta-------------*/
#nivelesEducativos {
  padding-top: 30px; }
  #nivelesEducativos .flex-container-oferta {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
    align-items: center;
    padding: 10px 0; }
    #nivelesEducativos .flex-container-oferta .header-oferta {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 18px 0;
      text-align: center;
      height: auto;
      width: 70%; }
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-h2 {
        color: #f1c40f;
        font-family: "Raleway";
        font-weight: 900;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-size: 46px;
        margin-bottom: 11.25px; }
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-h3,
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-p {
        color: #191919;
        font-family: "Raleway";
        text-align: center; }
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-h3 {
        font-weight: 700;
        font-size: 29px;
        margin-bottom: 11.25px; }
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-p {
        font-weight: 400;
        line-height: 135%;
        font-size: 18px; }
    #nivelesEducativos .flex-container-oferta .materias-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      min-height: 70vh;
      height: auto;
      width: 100%; }
      #nivelesEducativos .flex-container-oferta .materias-container .moveArrows {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 40px;
        position: absolute;
        cursor: pointer; }
        #nivelesEducativos .flex-container-oferta .materias-container .moveArrows .flex-img-arrow {
          -webkit-touch-callout: none;
          /* iOS Safari */
          -webkit-user-select: none;
          /* Safari */
          -khtml-user-select: none;
          /* Konqueror HTML */
          -moz-user-select: none;
          /* Old versions of Firefox */
          -ms-user-select: none;
          /* Internet Explorer/Edge */
          user-select: none;
          /* Non-prefixed version, currently */
          width: 40px;
          height: auto;
          transition: ease 0.3s;
          cursor: pointer; }
      #nivelesEducativos .flex-container-oferta .materias-container #left {
        left: 0; }
        #nivelesEducativos .flex-container-oferta .materias-container #left:hover .flex-img-arrow, #nivelesEducativos .flex-container-oferta .materias-container #left:active .flex-img-arrow, #nivelesEducativos .flex-container-oferta .materias-container #left:focus .flex-img-arrow {
          width: 50px; }
      #nivelesEducativos .flex-container-oferta .materias-container #right {
        right: 0; }
        #nivelesEducativos .flex-container-oferta .materias-container #right:hover .flex-img-arrow, #nivelesEducativos .flex-container-oferta .materias-container #right:active .flex-img-arrow, #nivelesEducativos .flex-container-oferta .materias-container #right:focus .flex-img-arrow {
          width: 50px; }
      #nivelesEducativos .flex-container-oferta .materias-container .cards {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 100px);
        min-height: 75%;
        height: auto;
        transition: ease 2s all;
        scroll-behavior: smooth;
        overflow-x: scroll; }
      #nivelesEducativos .flex-container-oferta .materias-container .card-materia {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 15px;
        margin: 0 4px;
        border-radius: 5px;
        width: 250px;
        min-width: 250px;
        height: 60vh;
        /* Transition */
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
        /* Background */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: linear-gradient(rgba(53, 146, 207, 0.6), rgba(53, 146, 207, 0.8)); }
        #nivelesEducativos .flex-container-oferta .materias-container .card-materia h2 {
          font-family: "Raleway";
          font-weight: 700;
          font-size: 29px;
          color: #fff;
          text-align: center;
          transition: all 0.5s ease; }
        #nivelesEducativos .flex-container-oferta .materias-container .card-materia:nth-child(5n + 2) {
          background-image: linear-gradient(rgba(232, 59, 101, 0.6), rgba(232, 59, 101, 0.8)); }
        #nivelesEducativos .flex-container-oferta .materias-container .card-materia:nth-child(5n + 3) {
          background-image: linear-gradient(rgba(243, 204, 84, 0.6), rgba(243, 204, 84, 0.8)); }
        #nivelesEducativos .flex-container-oferta .materias-container .card-materia:nth-child(5n + 4) {
          background-image: linear-gradient(rgba(79, 182, 157, 0.6), rgba(79, 182, 157, 0.8)); }
        #nivelesEducativos .flex-container-oferta .materias-container .card-materia:nth-child(5n + 5) {
          background-image: linear-gradient(rgba(132, 81, 153, 0.6), rgba(132, 81, 153, 0.8)); }
        #nivelesEducativos .flex-container-oferta .materias-container .card-materia:hover, #nivelesEducativos .flex-container-oferta .materias-container .card-materia:active, #nivelesEducativos .flex-container-oferta .materias-container .card-materia:focus {
          height: 70vh;
          min-width: 300px;
          background-image: linear-gradient(rgba(53, 146, 207, 0.6), rgba(53, 146, 207, 0.8)); }
          #nivelesEducativos .flex-container-oferta .materias-container .card-materia:hover:nth-child(5n + 2), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:active:nth-child(5n + 2), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:focus:nth-child(5n + 2) {
            background-image: linear-gradient(rgba(232, 59, 101, 0.6), rgba(232, 59, 101, 0.8)); }
          #nivelesEducativos .flex-container-oferta .materias-container .card-materia:hover:nth-child(5n + 3), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:active:nth-child(5n + 3), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:focus:nth-child(5n + 3) {
            background-image: linear-gradient(rgba(243, 204, 84, 0.6), rgba(243, 204, 84, 0.8)); }
          #nivelesEducativos .flex-container-oferta .materias-container .card-materia:hover:nth-child(5n + 4), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:active:nth-child(5n + 4), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:focus:nth-child(5n + 4) {
            background-image: linear-gradient(rgba(79, 182, 157, 0.6), rgba(79, 182, 157, 0.8)); }
          #nivelesEducativos .flex-container-oferta .materias-container .card-materia:hover:nth-child(5n + 5), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:active:nth-child(5n + 5), #nivelesEducativos .flex-container-oferta .materias-container .card-materia:focus:nth-child(5n + 5) {
            background-image: linear-gradient(rgba(132, 81, 153, 0.6), rgba(132, 81, 153, 0.8)); }
          #nivelesEducativos .flex-container-oferta .materias-container .card-materia:hover h2, #nivelesEducativos .flex-container-oferta .materias-container .card-materia:active h2, #nivelesEducativos .flex-container-oferta .materias-container .card-materia:focus h2 {
            font-size: 32px; }
    @media only screen and (max-width: 640px) {
      #nivelesEducativos .flex-container-oferta .header-oferta {
        width: 90%; }
      #nivelesEducativos .flex-container-oferta .materias-container .cards {
        width: 95%; }
      #nivelesEducativos .flex-container-oferta .materias-container .moveArrows {
        display: none; } }
    @media only screen and (max-width: 479px) {
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-h2 {
        font-size: 35px; }
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-h3 {
        font-size: 22px; }
      #nivelesEducativos .flex-container-oferta .header-oferta .oferta-p {
        font-size: 14px; } }

#popup {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.95);
  transition: all 0.3s ease-out; }
  #popup #menu-bottom {
    position: fixed;
    top: 1%;
    right: 1%;
    cursor: pointer; }
    #popup #menu-bottom .flex-img-burguer {
      height: 50px; }
  #popup #info-materia {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 75%;
    height: auto; }
    #popup #info-materia #imagen-materia {
      height: 50vh;
      width: auto;
      border-radius: 10px;
      margin: 11.25px 0; }
    #popup #info-materia #title-materia {
      margin: 11.25px 0;
      font-family: "Raleway";
      font-weight: 900;
      text-align: center;
      font-size: 46px;
      color: #f1c40f; }
    #popup #info-materia #text-materia {
      margin: 11.25px 0;
      font-family: "Raleway";
      font-weight: 400;
      font-size: 18px;
      text-align: justify;
      line-height: 135%;
      color: #fff; }
  @media only screen and (max-width: 900px) {
    #popup {
      justify-content: start;
      overflow-y: scroll !important; }
      #popup #info-materia {
        width: 90%;
        margin: 40px 0 20px 0; }
        #popup #info-materia #imagen-materia {
          height: auto;
          width: 75%;
          margin: 0; }
        #popup #info-materia #title-materia {
          font-size: 29px; }
        #popup #info-materia #text-materia {
          font-size: 14px; } }
  @media only screen and (max-width: 479px) {
    #popup #info-materia #imagen-materia {
      width: 100%; } }

/*------------Online-------------*/
.flex-container-online {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: auto;
  width: 100vw;
  padding: 30px 0; }
  .flex-container-online .divider {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 100%;
    padding: 30px; }
    .flex-container-online .divider .online-colegio-img {
      width: 100%;
      height: auto; }
    .flex-container-online .divider .header-text {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 18px 0; }
      .flex-container-online .divider .header-text .tittle,
      .flex-container-online .divider .header-text .text {
        width: 100%;
        font-family: "Raleway";
        text-align: start; }
      .flex-container-online .divider .header-text .tittle {
        text-transform: uppercase;
        font-size: 46px;
        color: #f1c40f;
        font-weight: 900;
        letter-spacing: 5px;
        margin-bottom: 11.25px; }
      .flex-container-online .divider .header-text .text {
        font-size: 18px;
        color: #191919;
        font-weight: 400;
        line-height: 135%;
        text-align: justify; }
    .flex-container-online .divider .online-logos {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: auto; }
      .flex-container-online .divider .online-logos img {
        height: 40px;
        width: auto;
        margin: 5px; }
  @media only screen and (max-width: 767px) {
    .flex-container-online {
      flex-direction: column; }
      .flex-container-online .divider {
        width: 90%;
        padding: 10px; }
        .flex-container-online .divider .header-text .tittle {
          text-align: center; } }
  @media only screen and (max-width: 479px) {
    .flex-container-online .divider .header-text .tittle {
      font-size: 29px; }
    .flex-container-online .divider .header-text .text {
      font-size: 14px; } }

/*------------Inscipciones-------------*/
.flex-container-inscripciones {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  height: auto;
  width: 100vw;
  padding: 30px 50px; }
  .flex-container-inscripciones .header-text {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0; }
    .flex-container-inscripciones .header-text .title,
    .flex-container-inscripciones .header-text .subtitle {
      font-family: "Raleway";
      text-transform: uppercase;
      letter-spacing: 5px;
      text-align: center; }
    .flex-container-inscripciones .header-text .title {
      font-size: 46px;
      color: #f1c40f;
      font-weight: 900;
      margin-bottom: 11.25px; }
    .flex-container-inscripciones .header-text .subtitle {
      font-size: 29px;
      color: #191919;
      line-height: 135%;
      font-weight: 600; }
  .flex-container-inscripciones .proceso {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .flex-container-inscripciones .proceso .row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .flex-container-inscripciones .proceso .row .step {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 350px;
        margin: 20px;
        border-radius: 5px;
        background-image: linear-gradient(rgba(78, 170, 48, 0.6), rgba(78, 170, 48, 0.7)); }
        .flex-container-inscripciones .proceso .row .step .left {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 35%;
          height: 100%;
          color: white; }
          .flex-container-inscripciones .proceso .row .step .left h1 {
            text-align: center;
            font-family: Helvetica, sans-serif;
            font-weight: 900;
            font-size: 120px; }
        .flex-container-inscripciones .proceso .row .step .right {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 65%;
          height: 100%;
          padding: 5px;
          color: white; }
          .flex-container-inscripciones .proceso .row .step .right p {
            font-family: "Raleway";
            line-height: 135%;
            font-weight: 400;
            font-size: 18px; }
  @media only screen and (max-width: 479px) {
    .flex-container-inscripciones {
      padding: 0; }
      .flex-container-inscripciones .header-text .title {
        font-size: 29px; }
      .flex-container-inscripciones .header-text .subtitle {
        font-size: 18px; }
      .flex-container-inscripciones .proceso .row .step {
        width: 70vw;
        min-height: 70vw;
        height: auto;
        margin: 10px; }
        .flex-container-inscripciones .proceso .row .step .left h1 {
          font-size: 100px; }
        .flex-container-inscripciones .proceso .row .step .right p {
          font-size: 14px; } }

/*------------Footer-------------*/
.flex-container-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom right, rgba(241, 196, 15, 0.8), rgba(231, 76, 60, 0.8)); }
  .flex-container-footer .footer-box-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    width: 80%; }
    .flex-container-footer .footer-box-content .footer-header {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
      width: 100%; }
      .flex-container-footer .footer-box-content .footer-header h2,
      .flex-container-footer .footer-box-content .footer-header p {
        font-family: "Raleway";
        text-align: center;
        color: white;
        margin-bottom: 11.25px; }
      .flex-container-footer .footer-box-content .footer-header h2  {
        font-weight: 700;
        font-size: 29px; }
      .flex-container-footer .footer-box-content .footer-header p {
        font-weight: 400;
        font-size: 18px; }
      .flex-container-footer .footer-box-content .footer-header .footer-logo {
        width: 120px;
        height: 120px;
        margin-top: 15px;
        margin-bottom: 5px; }
      @media only screen and (max-width: 479px) {
        .flex-container-footer .footer-box-content .footer-header h2  {
          font-size: 18px; }
        .flex-container-footer .footer-box-content .footer-header p {
          font-size: 14px; } }
    .flex-container-footer .footer-box-content .footer-socials {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
      width: 100%; }
      .flex-container-footer .footer-box-content .footer-socials .social {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px; }
        .flex-container-footer .footer-box-content .footer-socials .social a {
          font-size: 100%;
          width: 100%;
          text-align: center;
          color: white;
          font-family: "Raleway";
          font-weight: 400;
          align-self: center; }
          .flex-container-footer .footer-box-content .footer-socials .social a .icon {
            color: white;
            transition: all 0.3s ease;
            height: 40px;
            width: auto; }
            .flex-container-footer .footer-box-content .footer-socials .social a .icon:hover {
              color: #f1c40f; }
  .flex-container-footer .box-copyright {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 20px;
    height: auto;
    width: 100%;
    background-color: white;
    align-self: flex-end !important; }
    .flex-container-footer .box-copyright span {
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Old versions of Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently */
      color: #191919;
      font-size: 11px;
      text-align: center;
      font-family: "Raleway";
      font-weight: 400;
      margin-right: 10px; }
      .flex-container-footer .box-copyright span a {
        color: #e74c3c;
        font-family: "Raleway";
        font-weight: 400;
        transition: all 0.3s ease; }
        .flex-container-footer .box-copyright span a:hover {
          color: #f1c40f; }

/*# sourceMappingURL=style.css.map */
