$text-size-title: 65.5px;
$text-size-h1: 46px;
$text-size-h2: 28.8px;
$text-size-p: 18px;
$text-size-min: 14px;
$color-yellow: #f1c40f;
$color-darkgrey: rgb(25, 25, 25);
$margin-title: 18px;
$margin-subtitle: 11.25px;

@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Light.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: 900;
}

::-webkit-scrollbar {
    display: none;
}

@mixin flexbox($direction, $justify, $aligment) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aligment;
}

@mixin noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.btn-login {
    color: white !important;
    background: transparent;
    background: -webkit-linear-gradient(to right, #ffe159e5, #ff5724e5);
    background: -moz-linear-gradient(to right, #ffe159e5, #ff5724e5);
    background: linear-gradient(to right, #ffe159e5, #ff5724e5);
    border-radius: 24px;
    padding: 8px 25px !important;
    text-transform: initial !important;
    font-family: "Raleway" !important;
    font-weight: 700;
    font-size: $text-size-p;
    transition: all 0.5s ease-out;
    cursor: pointer;

    &:hover {
        color: #dd4b12 !important;
        background: rgb(255, 255, 255);
    }
}

.number {
    font-family: Helvetica, sans-serif !important;
}

/*--------NAVBAR---------*/

#responsive-navbar {
    display: none;

    #responsiveBar {
        visibility: visible;
        transition: all 0.3s ease-out;
        .flex-img-burguer {
            width: auto;
            height: 40px;
        }
    }

    #navbarBox {
        @include flexbox(column, center, center);
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.95);
        transition: all 0.3s ease-out;

        #menu-bottom {
            position: fixed;
            top: 1%;
            right: 1%;

            .flex-img-burguer {
                height: 50px;
            }
        }

        .flex-item {
            height: auto;
            width: 70%;
            padding: 10px 0;
            cursor: pointer;
            color: white;
            text-align: center;
            font-size: $text-size-h2;
            font-family: "Raleway";
            font-weight: 600;
            text-transform: uppercase;
            transition: all 0.3s ease-out;
        }

        .logo {
            margin-bottom: 10px;
            cursor: pointer;
            .img {
                height: 70px !important;
            }
        }

        .btn-login {
            margin-top: 10px !important;
            font-size: $text-size-p;
        }
    }
}

.flex-container-nav {
    @include flexbox(row, space-between, center);
    width: 100%;
    height: auto;
    padding: 10px 20px;
    position: fixed;
    z-index: 5;
    background: transparent;
    transition: all 1.2s ease-out;
    background: rgba(0, 0, 0, 0.1);

    &.black {
        background: rgba(0, 0, 0, 0.85);
    }

    a {
        max-height: 40px;
        .nav-img {
            height: 40px;
            width: auto;
        }
    }

    .links {
        display: flex;
        a {
            overflow: hidden;
            position: relative;
            display: inline-block;
            margin: 0 15px;
            outline: none;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "Raleway";
            font-weight: 700;
            text-align: center;
            overflow: hidden;
            height: auto;
        }

        a span {
            text-align: center;
            cursor: pointer;
            font-size: $text-size-p;
            position: relative;
            display: inline-block;
            -webkit-transition: -webkit-transform 0.3s;
            -moz-transition: -moz-transform 0.3s;
            transition: transform 0.3s;
        }

        a span::before {
            top: 100%;
            position: absolute;
            content: attr(data-hover);
            font-family: "Raleway";
            font-weight: 900;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        a:hover span,
        a:focus span {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            transform: translateY(-100%);
        }
    }
}

/* Mobile and iPad Portrait */
@media only screen and (max-width: 890px) {
    #main-navbar {
        display: none;
    }

    #responsive-navbar {
        display: flex;
    }
}

/*------------HEADER-------------*/
.header {
    @include flexbox(row, space-around, center);
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/pencils.jpg");

    .title {
        width: 90%;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        #tituloColegio {
            color: white;
            text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
            font-family: "Raleway";
            font-weight: 700;
            font-size: $text-size-title;
            text-transform: uppercase;

            &::first-letter {
                font-size: 115%;
            }
        }

        #textoTitulo {
            color: white;
            text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
            font-family: "Raleway";
            font-weight: 400;
            font-size: $text-size-h2;
            margin-top: 10px;
        }

        /* Mobile and iPad Portrait */
        @media only screen and (max-width: 950px) {
            #tituloColegio {
                font-size: 55px;
            }
        }

        /* Mobile Landscape and Portrait */
        @media only screen and (max-width: 767px) {
            #tituloColegio {
                font-size: 45px;
            }

            #textoTitulo {
                font-size: $text-size-p;
            }
        }

        /* Mobile Portrait */
        @media only screen and (max-width: 479px) {
            #tituloColegio {
                font-size: 35px;
            }
        }
    }
}

/*------------NOSOTROS-------------*/
.flex-container-nosotros {
    @include flexbox(row, space-around, center);
    min-height: 70vh;
    height: auto;
    width: 100vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/work.jpg");

    .flex-container-nosotros-card {
        @include flexbox(column, center, initial);
        width: 100%;
        height: 100%;
        cursor: default;
        position: absolute;
        z-index: 1;

        .title-nosotros {
            font-size: $text-size-h1;
            font-family: "Raleway";
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: $margin-subtitle;
        }

        .text-nosotros {
            width: 80%;
            display: none;
            text-align: justify;
            font-size: $text-size-p;
            line-height: 135%;
            font-family: "Raleway";
            font-weight: 400;
        }

        &.left {
            background-color: rgba(0, 0, 0, 0.75);
            clip-path: polygon(0% 0%, 60% 0%, 40% 100%, 0% 100%);
            transition: 0.5s ease;
            align-items: flex-start;
            padding-left: 5%;
            .title-nosotros,
            .text-nosotros {
                color: white;
            }

            &:hover,
            &:active,
            &:focus {
                clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 0% 100%);
                z-index: 1;
                background-color: rgba(0, 0, 0, 1);
                .text-nosotros {
                    display: initial;
                }
            }
        }

        &.right {
            background-color: rgba(255, 255, 255, 0.75);
            clip-path: polygon(60% 0%, 100% 0%, 100% 100%, 40% 100%);
            transition: 0.5s ease;
            align-items: flex-end;
            padding-right: 5%;
            .title-nosotros,
            .text-nosotros {
                color: black;
            }

            &:hover,
            &:active,
            &:focus {
                clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%);
                z-index: 1;
                background-color: rgba(255, 255, 255, 1);
                .text-nosotros {
                    display: initial;
                }
            }
        }

        @media only screen and (max-width: 479px) {
            .title-nosotros {
                font-size: $text-size-h2;
            }

            .text-nosotros {
                font-size: $text-size-min;
            }
        }
    }
}

/*------------Oferta-------------*/
#nivelesEducativos {
    padding-top: 30px;
    .flex-container-oferta {
        @include flexbox(column, flex-start, center);
        width: 100%;
        height: auto;
        min-height: 100vh;
        align-items: center;
        padding: 10px 0;

        .header-oferta {
            @include flexbox(column, center, center);
            padding: $margin-title 0;
            text-align: center;
            height: auto;
            width: 70vw;

            .oferta-h2 {
                color: $color-yellow;
                font-family: "Raleway";
                font-weight: 900;
                letter-spacing: 5px;
                text-transform: uppercase;
                font-size: $text-size-h1;
                margin-bottom: $margin-subtitle;
            }

            .oferta-h3,
            .oferta-p {
                color: $color-darkgrey;
                font-family: "Raleway";
                text-align: center;
            }

            .oferta-h3 {
                font-weight: 700;
                font-size: $text-size-h2;
                margin-bottom: $margin-subtitle;
            }
            .oferta-p {
                font-weight: 400;
                font-size: $text-size-p;
            }
        }

        .materias-container {
            @include flexbox(row, center, center);
            position: relative;
            min-height: 70vh;
            height: auto;
            width: 100%;

            .moveArrows {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60vh;
                width: 40px;
                position: absolute;
                cursor: pointer;

                .flex-img-arrow {
                    @include noSelect();
                    width: 40px;
                    height: auto;
                    transition: ease 0.3s;
                    cursor: pointer;
                }
            }

            #left {
                left: 0;
                &:hover,
                &:active,
                &:focus {
                    // background: #ffe15942;
                    // background: -webkit-linear-gradient(to right, #ffe15942, #ffe1591e, #ffe15900);
                    // background: -moz-linear-gradient(to right, #ffe15942, #ffe1591e, #ffe15900);
                    // background: linear-gradient(to right, #ffe15942, #ffe1591e, #ffe15900);
                    .flex-img-arrow {
                        width: 50px;
                    }
                }
            }

            #right {
                right: 0;
                &:hover,
                &:active,
                &:focus {
                    // background: #ffe15942;
                    // background: -webkit-linear-gradient(to left, #ffe15942, #ffe1591e, #ffe15900);
                    // background: -moz-linear-gradient(to left, #ffe15942, #ffe1591e, #ffe15900);
                    // background: linear-gradient(to left, #ffe15942, #ffe1591e, #ffe15900);
                    .flex-img-arrow {
                        width: 50px;
                    }
                }
            }

            .cards {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: calc(100% - 100px);
                min-height: 75%;
                height: auto;
                transition: ease 2s all;
                scroll-behavior: smooth;
                overflow-x: scroll;
            }

            .card-materia {
                @include flexbox(column, center, center);
                cursor: pointer;
                padding: 15px;
                margin: 0 4px;
                border-radius: 5px;
                width: 250px;
                min-width: 250px;
                height: 60vh;

                /* Transition */
                -webkit-transition: 0.5s ease-out;
                -moz-transition: 0.5s ease-out;
                -o-transition: 0.5s ease-out;
                transition: 0.5s ease-out;

                h2 {
                    font-family: "Raleway";
                    font-weight: 700;
                    font-size: $text-size-h2;
                    color: #fff;
                    text-align: center;
                    transition: all 0.5s ease;
                }

                /* Background */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: linear-gradient(rgba(#3592cf, 0.6), rgba(#3592cf, 0.8));
                &:nth-child(5n + 2) {
                    background-image: linear-gradient(rgba(#e83b65, 0.6), rgba(#e83b65, 0.8));
                }
                &:nth-child(5n + 3) {
                    background-image: linear-gradient(rgba(#f3cc54, 0.6), rgba(#f3cc54, 0.8));
                }
                &:nth-child(5n + 4) {
                    background-image: linear-gradient(rgba(#4fb69d, 0.6), rgba(#4fb69d, 0.8));
                }
                &:nth-child(5n + 5) {
                    background-image: linear-gradient(rgba(#845199, 0.6), rgba(#845199, 0.8));
                }

                &:hover,
                &:active,
                &:focus {
                    height: 70vh;
                    min-width: 300px;
                    background-image: linear-gradient(rgba(#3592cf, 0.6), rgba(#3592cf, 0.8));

                    &:nth-child(5n + 2) {
                        background-image: linear-gradient(rgba(#e83b65, 0.6), rgba(#e83b65, 0.8));
                    }

                    &:nth-child(5n + 3) {
                        background-image: linear-gradient(rgba(#f3cc54, 0.6), rgba(#f3cc54, 0.8));
                    }

                    &:nth-child(5n + 4) {
                        background-image: linear-gradient(rgba(#4fb69d, 0.6), rgba(#4fb69d, 0.8));
                    }

                    &:nth-child(5n + 5) {
                        background-image: linear-gradient(rgba(#845199, 0.6), rgba(#845199, 0.8));
                    }

                    h2 {
                        font-size: 32px;
                    }
                }
            }
        }

        @media only screen and (max-width: 640px) {
            .materias-container {
                .cards {
                    width: 95%;
                }
                .moveArrows {
                    display: none;
                }
            }
        }

        @media only screen and (max-width: 479px) {
            .header-oferta {
                width: 90%;

                .oferta-h2 {
                    font-size: $text-size-h2;
                }

                .oferta-h3 {
                    font-size: $text-size-p;
                }

                .oferta-p {
                    font-size: $text-size-min;
                }
            }
        }
    }
}

#popup {
    @include flexbox(column, center, center);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.95);
    transition: all 0.3s ease-out;

    #menu-bottom {
        position: fixed;
        top: 1%;
        right: 1%;

        .flex-img-burguer {
            height: 50px;
        }
    }

    #info-materia {
        @include flexbox(column, center, center);
        width: 75%;

        #imagen-materia {
            height: 50vh;
            width: auto;
            margin: $margin-subtitle 0;
        }

        #title-materia {
            margin: $margin-subtitle 0;
            font-family: "Raleway";
            font-weight: 900;
            text-align: center;
            font-size: $text-size-h1;
            color: $color-yellow;
        }

        #text-materia {
            margin: $margin-subtitle 0;
            font-family: "Raleway";
            font-weight: 400;
            font-size: $text-size-p;
            text-align: justify;
            color: #fff;
        }
    }
    @media only screen and (max-width: 640px) {
        #info-materia {
            width: 90%;
            #imagen-materia {
                height: auto;
                width: 100%;
                margin: $margin-subtitle 0;
            }
        }
    }
}

/*------------Online-------------*/
.flex-container-online {
    @include flexbox(row, center, center);
    min-height: 50vh;
    height: auto;
    width: 100vw;
    padding: 30px 0;

    .divider {
        @include flexbox(column, center, center);
        width: 45%;
        height: 100%;
        padding: 30px;

        .online-colegio-img {
            width: 100%;
            height: auto;
        }

        .header-text {
            @include flexbox(column, center, flex-start);
            padding: $margin-title 0;
            .tittle,
            .text {
                width: 100%;
                font-family: "Raleway";
                text-align: start;
            }
            .tittle {
                text-transform: uppercase;
                font-size: $text-size-h1;
                color: $color-yellow;
                font-weight: 900;
                letter-spacing: 5px;
                margin-bottom: $margin-subtitle;
            }
            .text {
                font-size: $text-size-p;
                color: $color-darkgrey;
                font-weight: 400;
                text-align: justify;
            }
        }

        .online-logos {
            @include flexbox(row, space-around, center);
            width: 90%;
            height: auto;
            img {
                height: 40px;
                width: auto;
                margin: 5px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        flex-direction: column;

        .divider {
            width: 90%;
            padding: 10px;
            .header-text {
                .tittle {
                    text-align: center;
                }
            }
        }
    }

    @media only screen and (max-width: 479px) {
        .divider {
            .header-text {
                .tittle {
                    font-size: $text-size-h2;
                }
                .text {
                    font-size: $text-size-min;
                }
            }
        }
    }
}

/*------------Inscipciones-------------*/
.flex-container-inscripciones {
    @include flexbox(column, center, center);
    min-height: 50vh;
    height: auto;
    width: 100vw;
    padding: 30px 50px;

    .header-text {
        @include flexbox(column, center, center);
        padding: $margin-title 0;
        .title,
        .subtitle {
            font-family: "Raleway";
            text-transform: uppercase;
            letter-spacing: 5px;
            text-align: center;
        }
        .title {
            font-size: $text-size-h1;
            color: $color-yellow;
            font-weight: 900;
            margin-bottom: $margin-subtitle;
        }
        .subtitle {
            font-size: $text-size-h2;
            color: $color-darkgrey;
            font-weight: 600;
        }
    }

    .proceso {
        @include flexbox(column, center, center);
        .row {
            @include flexbox(row, space-around, center);
            .step {
                @include flexbox(row, center, center);
                width: 300px;
                height: 350px;
                margin: 20px;
                border-radius: 5px;
                background-image: linear-gradient(rgba(#4eaa30, 0.6), rgba(#4eaa30, 0.8));

                .left {
                    @include flexbox(column, center, center);
                    width: 35%;
                    height: 100%;
                    color: white;
                    h1 {
                        text-align: center;
                        font-family: Helvetica, sans-serif;
                        font-weight: 900;
                        font-size: 120px;
                    }
                }
                .right {
                    @include flexbox(column, center, center);
                    width: 65%;
                    height: 100%;
                    padding: 10px;
                    color: white;

                    p {
                        font-family: "Raleway";
                        font-weight: 400;
                        font-size: $text-size-p;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 479px) {
        .header-text {
            .title {
                font-size: $text-size-h2;
            }

            .subtitle {
                font-size: $text-size-p;
            }
        }

        .proceso {
            .row {
                .step {
                    width: 90%;
                    .left {
                        h1 {
                            font-size: 100px;
                        }
                    }
                }
            }
        }

        padding: 0;
    }
}

/*------------Footer-------------*/
.flex-container-footer {
    @include flexbox(column, space-between, center);
    height: fit-content;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgba(241, 196, 15, 0.8), rgba(231, 76, 60, 0.8));

    .footer-box-content {
        @include flexbox(column, center, center);
        align-self: center;
        height: auto;
        width: 80%;

        .footer-header {
            @include flexbox(column, space-evenly, center);
            height: auto;
            width: 100%;

            h2,
            p {
                font-family: "Raleway";
                text-align: center;
                color: white;
                margin-bottom: $margin-subtitle;
            }

            h2  {
                font-weight: 700;
                font-size: $text-size-h2;
            }

            p {
                font-weight: 400;
                font-size: $text-size-p;
            }

            .footer-logo {
                width: 120px;
                height: 120px;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            @media only screen and (max-width: 479px) {
                h2  {
                    font-size: $text-size-p;
                }

                p {
                    font-size: $text-size-min;
                }
            }
        }

        .footer-socials {
            @include flexbox(row, space-evenly, center);
            height: auto;
            width: 100%;

            .social {
                @include flexbox(row, center, center);
                height: 80px;
                width: 80px;

                a {
                    font-size: 100%;
                    width: 100%;
                    text-align: center;
                    color: white;
                    font-family: "Raleway";
                    font-weight: 400;
                    align-self: center;
                    .icon {
                        color: white;
                        transition: all 0.3s ease;
                        height: 40px;
                        width: auto;

                        &:hover {
                            color: $color-yellow;
                        }
                    }
                }
            }
        }
    }

    .box-copyright {
        @include flexbox(row, flex-end, center);
        min-height: 20px;
        height: auto;
        width: 100%;
        background-color: white;
        align-self: flex-end !important;

        span {
            @include noSelect();
            color: $color-darkgrey;
            font-size: 11px;
            text-align: center;
            font-family: "Raleway";
            font-weight: 400;
            margin-right: 10px;

            a {
                color: #e74c3c;
                font-family: "Raleway";
                font-weight: 400;
                transition: all 0.3s ease;

                &:hover {
                    color: $color-yellow;
                }
            }
        }
    }
}
